.side_bar{
  flex: 0.2;
   height: 100%;
  position: sticky;
  top: 0;
  border: 2px solid white;
   box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
   }
.top_sidebar{
    margin: 20px;
    align-items: center;
   
   
}
.logo_side{
   margin: 10px;
   height: 100px;
   width: 100px; 
   padding: 20px;
   
   box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
   
   
}
.sidebarmenu{
    position: relative;
}
.sidebarListe{
    list-style:none;
    padding:5px;
    
}
.sidebaritem{
    padding: 10px;
    position: relative;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;  
}

.sidebaritem:hover
{
    background-color: #179CB1;
    color: white;
    font-weight: bold;
    
}
.sidebaritem:active{
    background-color:#179CB1;;
    color: white;
}
.footer{
    
    margin-top: 40%;
    margin-left: 30px;
}
.footer>button{
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #179CB1 ;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
}

@media (max-width:768px) {
    .side_bar {
     flex:-0.2;
  }
  
    
  }